<section class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
    data-header-color="black">

    <div class="z-30 relative h-full flex flex-col">
        <header class="">
            <h2 class="text-black pt-36 text-[40px] font-medium">Accesorios</h2>
        </header>
        <footer class="flex flex-col flex-grow justify-end pb-20">
            <div class="gap-x-4 flex mx-auto">
                <a class="border-[3px] border-gray-600 bg-gray-600 rounded text-sm font-medium text-white px-12 py-2 inline-block hover:bg-gray-800 hover:text-white hover:border-gray-800 transition-colors hover:cursor-pointer" href="#">
                   Comprar ahora
                </a>
            </div>

        </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <img src="/accessories.avif" alt="Accesories" class="h-full w-full object-cover object-center">
    </div>

</section>