<section class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden" data-header-color="black"
>

    <div class="z-30 relative h-full flex flex-col">
        <header class="">
            <h2 class="text-black pt-40 text-[40px] font-medium">Model S</h2>
            <p class="text-black text-sm underline">Concertar una prueba de conducción</p>
        </header>

        <footer class="flex flex-col flex-grow justify-end pb-20">
            <div class="gap-x-4 flex mx-auto">
                <a class="border-[3px] border-gray-600 bg-gray-600 rounded text-sm font-medium text-white px-12 py-2 inline-block hover:bg-gray-800 hover:text-white hover:border-gray-800 transition-colors hover:cursor-pointer" href="#">
                    Explorar inventario
                </a>
                <a class="border-[3px] border-white bg-white text-sm rounded font-medium text-black px-12 py-2 transition-colors hover:bg-gray-800 hover:border-gray-800 hover:text-white inline-flex justify-center items-center hover:cursor-pointer" href="#">
                    Pedido personalizado
                </a>
            </div>

        </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <img src="/model-s.avif" alt="Model S" class="h-full w-full object-cover object-center">
    </div>

</section>